{{!-- 使用者選按下button之後 - 傳送資料去給fetch改名 --}}
{{!-- 然後拿到改完的名稱, 再丟回去img --}}



<form name="form1" method="post" enctype="multipart/form-data" onsubmit="return false;">
    <div class="form-group">
        <label for="">img1</label>
        <button class="btn btn-primary select-file" data-target="img1">請選擇檔案</button>
        <img src="" alt="" id="myimg1">
        <input type="hidden" name="img1" value="">
        <input type="file" class="form-control filefield" id="img1" style="display: none">
    </div>
    <div class="form-group">
        <label for="">img2</label>
        <button class="btn btn-primary select-file" data-target="img2">請選擇檔案</button>
        <img src="" alt="" id="myimg2">
        <input type="hidden" name="img2" value="">
        <input type="file" class="form-control filefield" id="img2" style="display: none">
    </div>

    <div class="form-group">
        <label for="">img3</label>
        <button class="btn btn-primary select-file" data-target="img3">請選擇檔案</button>
        <img src="" alt="" id="myimg3">
        <input type="hidden" name="img3" value="">
        <input type="file" class="form-control filefield" id="img3" style="display: none">
    </div>

    <button type="button" class="btn btn-primary" onclick="doUpload()">Submit</button>
</form>

    {{!-- 按下button , 抓到button欄位的data值 , 然後丟去相對的input , 並讓相對的input產生點擊的動作 --}}
<script>
    $('.select-file').click(function(event){
       //alert($(this).attr('data-target'));
        var id = $(this).attr('data-target')
        $('#' + id).click();
    });


    $('.filefield').change(function(event){
        console.log($(this));
    });
</script>